
<% if user_signed_in? %>
<h1>All users</h1>
<%= link_to 'logout', destroy_user_session_path ,method: :delete %>
<% else %>
<div class="mt-3 display-6 text-right"><%= link_to 'login', new_user_session_path,class:"text-right" %></div>
<% end %>
