<div class="text-center us text-white d-flex flex-column align-items-center align-content-center  justify-content-center">
  <section class="usSectionOne">
    <p>profile pic</p>
    <p><%= @user.name %></p>
  </section>
<section class="d-flex flex-column usSectiontwo ">
    <div >one </div>
    <div>two</div>
    <div>three</div>
    <div>four</div>
    <div>five</div>
</section>

</div>